<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.itb.teem.eletrolandia2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoel"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Tela1Inicial"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Tela2Produtos"
            android:label="@string/title_activity_tela2_produtos" >
        </activity>
        <activity
            android:name=".Tela3SobreNos"
            android:label="@string/title_activity_tela3_sobre_nos" >
        </activity>
        <activity
            android:name=".Tela4FaleConosco"
            android:label="@string/title_activity_tela4_fale_conosco" >
        </activity>
        <activity
            android:name=".Tela5AvalieApp"
            android:label="@string/title_activity_tela5_avalie_app" >
        </activity>
    </application>

</manifest>
