#imgFoto {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.center {
    margin:auto;
}
.cat:hover{
    background-color: #42dcdc !important;
    cursor: pointer;
}
