<?xml version="1.0"?>
<configuration>
  <system.web>
    <pages enableEventValidation="false"/>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="Oracle.DataAccess, Version=4.112.2.0, Culture=neutral, PublicKeyToken=89B483F429C47342"/>
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="10000000" targetFramework="4.6.1" requestValidationMode="2.0"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <add name="OradbCon" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=LOCALHOST)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=XE)));User Id=ADM;Password=123456;" providerName="Oracle.DataAccess.Client"/>
  </connectionStrings>
</configuration>